
.firstbg {
  background-color: #E4F0F0;
  flex: auto;
  width: 70%;
  margin: auto;
  height:500px;
  margin-top: 30px;
  border-radius: 10px;
  
}
.secondbg{
  background-color: white;
  height: 50%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
            
.rowcl  .thirdbx {
  margin-left: 15px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  height: 8vh;
  width: 45%;
  margin-right: 2px;
}
.thirdbx{
  background-color: #E4F0F0;
  border-radius: 10px;
  width: 180px;
  margin-left: 20px;
  margin-right: 10px;
  padding-right: 20px;
  cursor: pointer;
}
.rowcl :hover {
  background-color: #2f8b88;
  color: white;

}

.firsth p {
  font-size: 24px;
  margin-left: 20px;}


.secondh p {
  font-size: 24px;
margin-left: 20px;
}
.firstip{
  margin-left:20px;
  width:50%;
  height: 70%;
}
button{
  background-color:    #2f8b88;
  color: white;
  width: 90px;
  height: 40px;
margin-left: 700px;
margin-top: 10px;
}

.btn-next{
  display: flex;
  align-items: center;
  justify-content: right;
padding:20px;


}


@media screen and (max-width: 700px) {
  .firstbg {
    display: flex;
    flex-direction: column;
    width: 99%;
    
    
  }
  .first p{
display: flex;
flex-direction: column;
}
.btn-next{
margin: auto; 
 display: flex;
flex-direction: row;


}
thirdbx{
  width:99%
}

  
}
