
.firstb {
    background-color: #E4F0F0;
    flex: auto;
    width: 70%;
    margin: auto;
    height:450px;
    margin-top: 30px;
    border-radius: 10px;
    
  }
  .flex-item-left{
    background-color: white;
    border-radius: 10px;
    height: 350px;
    width:45%;
    margin-left: 15px;
    margin-top: 30px;

  }

  .flex-item-right{

  background-color: white;
  border-radius: 10px;
  width:45%;
  margin-left: 15px;
display: flex;
  }
  img{
    border-radius: 50%;
    margin-left: 140px;
    margin-top: 40px;
  }

  
  
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 50%
      ;
      
    }
  }
  
  
@media screen and (max-width: 800px) {
    .firstb {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      
    }
}