*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.row-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bit-logo{
    margin-top: 60%;
    width: 60%;
    padding-bottom: 10px;
}
.image-info{
    height: 100vh;
    width: 100%;
}
.info-form{
    margin: 0 30%;
    height: 100vh;
}
.button{
    background-color: #02704A;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
.input-email{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
@media (max-width: 768px){
    .row-main{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .info-form{
        margin: 0 20%;
    }
}